$(".stocks #results").html("");
<% @stock_details.each do |stock| %>
  $(".stocks #results").append("<tr>"+
                             "<td><%= stock[:symbol] %></td>"+
                             "<td><%= stock[:company] %></td>"+
                             "<td><%= stock[:ask] %></td>"+
                             "<%= escape_javascript decorate(stock[:change_points]) %>"+
                             "<%= escape_javascript decorate(stock[:change_percentage]) %>"+
                             "<td><%= stock[:last_update] %></td>"+
                             "</tr>");                       
<% end %>

